{% include "hellosign/header.html" with title="Embedded Template Request Demo" %}
{% load staticfiles %}


    <div class="container">
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="type">Embedded Template Request Demo</h1>
            </div>
          </div>
        </div>

        <!-- Headings -->

        <div class="row">
          <div class="col-lg-12">
            <p>Request signatures for documents based on a HelloSign Template directly from your website. Follow the steps below to add this feature to your Java-based web application.</p>
            <h2>Before You Begin</h2>
            <div class="well">
              <ol>
                <li>Obtain an API key.<br>Sign up for an API plan <a href="https://www.hellosign.com/api/pricing">here</a>. Adding embedded signing to your website requires a Silver or Gold API plan. However, you can test the functionality for free by creating signature requests in test mode.</li>
                <li>Obtain a Client ID.<br>Sign up for a Client ID for your application <a href="https://www.hellosign.com/oauth/createAppForm">here</a>.</li>
                <li>Set the API key and Client ID in the settings file:
                  <pre>hellosign/settings.py</pre>
                </li>
                <li>Create a template.
                  Create a template on the HelloSign website here. Your templates will be retrieved for use in the demo when you load this page.</li>
              </ol>
            </div>
            <h2>Try It Out</h2>
            <p>Please sign our NDA.</p>
            {% if error_message %}
            <div class="alert alert-dismissable alert-warning">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {{ error_message }}
            </div>
            {% endif %}
            <div class="well col-lg-8">
              <div id="demoContainer">
                <form class="form-horizontal" action="{% url 'embedded_template_requesting' %}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="template" id="templateId" value="" />
                    {% csrf_token %}
                    <div id="demoForm">
                        <h3>Your Templates</h3>
                        <select id="templates">
                          <option selected>Choose a template...</option>
                        </select>
                        <div id="templateFields">
                          <h3>Template Details</h3>
                          <fieldset id="signers"><legend>Signers</legend><div id="signersContainer"></div></fieldset>
                          <fieldset id="ccs"><legend>Carbon Copy</legend><div id="ccsContainer"></div></fieldset>
                          <fieldset id="customFields"><legend>Custom Fields</legend><div id="customFieldsContainer"></div></fieldset>
                         </div>
                    </div>
                    <br />
                    <input class="btn blue-sub" id="startButton" type="submit" value="Launch Demo" />
                </form>
              </div>
            </div>
          </div>
        </div>
        {% include "hellosign/footer.html" %}

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'bootswatch.js' %}"></script>
    <script src="{% static 'bootstrap.file-input.js' %}"></script>
    <script type='text/javascript'>
      function initTemplates() {
        var templates = {{ templates|safe }};
        var templateFields = $("#templateFields");
        templateFields.hide();
        $("#startButton").hide();
        var selectList = $("#templates");
        for (var i = 0; i < templates.length; i++) {
          selectList.append('<option value="' + i + '">' + templates[i].title + '</option>');
        }
        selectList.change(function(e) {
          templateFields.show();
          $('#signersContainer').empty();
          $('#ccsContainer').empty();
          $('#customFieldsContainer').empty();
          var template = templates[$("option:selected", this).attr("value")];
          if (template) {
            for (var i = 0; i < template.signer_roles.length; i++) {
              var signerRole = template.signer_roles[i];
              var newOptionStr = '<div class="form-group"><label class="col-lg-2 control-label" for="signerRole[' + signerRole.name + ']">' + (signerRole.order != null ? signerRole.order : '') +
              signerRole.name + ':</label><div class="col-lg-5"><input class="form-control" type="text" name="signerRole[' + signerRole.name + '][email_address]" placeholder="Email address"/></div>' +
              '<div class="col-lg-5"><input class="form-control" type="text" name="signerRole[' + signerRole.name + '][name]" placeholder="Name"/></div></div>';
            var newSignerFields = $(newOptionStr);
              $('#signersContainer').append(newSignerFields);
            }
            for (var i = 0; i < template.cc_roles.length; i++) {
              var ccRole = template.cc_roles[i].name;
              var newCCFieldStr = '<div class="form-group"><label class="col-lg-2 control-label" for="ccRole[' + ccRole + ']">' + ccRole + ':</label><div class="col-lg-10"><input class="form-control" type="text" name="ccRole[' +
                ccRole + ']" placeholder="Email address"/></div></div>'
              var newCCFields = $(newCCFieldStr);
              $('#ccsContainer').append(newCCFields);
            }
            for (var i = 0; i < template.custom_fields.length; i++) {
              var cf = template.custom_fields[i];
              var newCFFieldStr = '<div class="form-group"><label class="col-lg-2 control-label" for="cf[' + cf.name + ']">' + cf.name + ':</label><div class="col-lg-10"><input type="text" name="cf[' + cf.name + ']" placeholder="' +
                cf.type + '"/></div></div>';
              var newCFField = $(newCFFieldStr);
              $('#customFieldsContainer').append(newCFField);
            }
            $('#templateId').val(template.reusable_form_id);
            $('#startButton').show();
          } else {
            $('#templateFields').hide();
            $('#startButton').hide();
          }
        });
      };
        $(document).ready(function(){
            // initEmbeddedDemo();
            initTemplates();
        });
    </script>
    {% if sign_url %}
    <script type="text/javascript" src="//s3.amazonaws.com/cdn.hellofax.com/js/embedded.js"></script>
    <script type="text/javascript">
        function openSigningDialog() {
            HelloSign.init("{{ client_id }}");
            HelloSign.open({
                url: "{{ sign_url|safe }}"
            });
        }
        $( document ).ready(function() {
          openSigningDialog();
        });
    </script>
    {% endif %}
    <script type="text/javascript">
        $( document ).ready(function() {
          $('input[type=file]').bootstrapFileInput();
        });
    </script>
  </body>
</html>


